node_modules/
.next/
/.vercel/
.env
.env.local
.env.*.local
.supabase
/.supabase
/.DS_Store
dist/
build/
coverage/
*.log
*.key
*.pem
service-worker.js
public/sw.js
/.history/
uploads/
ccp-photos/
/*.tgz
/.idea/
/.vscode/
*.sqlite

# Ignore secrets files
db/*.secret.sql
.vs/
